name: Pylint

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Install uv
      uses: astral-sh/setup-uv@v5
    - name: Set up Python 3.11
      run: uv python install 3.11
    - name: Install dependencies
      run: uv sync --frozen
    - name: Analysing the code with pylint
      run: uv run pylint $(git ls-files '*.py')
